@model DoAnLapTrinhWeb.Models.tbPhieuDanhGia
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sachId = (int)ViewBag.sachId;
    var userId = ViewBag.userId;
    ApplicationDbContext context = new ApplicationDbContext();
    var result = from c in context.tbPhieuDanhGia
                 where c.sachId == sachId
                 select c;
    List<tbPhieuDanhGia> listPhieuDanhGia = result.ToList(); 
    var Sach = context.tbSach.FirstOrDefault(b => b.Id == sachId);
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LuuDanhGia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="sachId" class="control-label" value="@sachId" />
            </div>
            <div class="form-group">
                <select asp-for="diem" class="control-label">
                    <option value="1">&#9733;</option>
                    <option value="2">&#9733;&#9733;</option>
                    <option value="3">&#9733;&#9733;&#9733;</option>
                    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="binhluan" class="form-control" placeholder="Nhập bình luận"/>
                <span asp-validation-for="binhluan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="userId" class="control-label" value="@userId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Đánh giá" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h3>@Sach.tenSach</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên người dùng
                </th>
                <th>
                    Bình luận
                </th>
                <th>
                    Đánh giá
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listPhieuDanhGia)
            {
                <tr>
                    <td>
                        @{
                            var name = context.Users.FirstOrDefault(b => b.Id == item.userId);
                        }
                        @name.FullName.ToString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.binhluan)
                    </td>
                    <td>
                        @{
                            string sao = "★";
                            for (int i = 1; i < item.diem; i++)
                                sao += "★";
                        }
                        @Html.Raw(sao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

