@model IEnumerable<DoAnLapTrinhWeb.Models.tbSach>
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.moTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenSach)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.imageUrl) *@
                    <img src="" alt="Image" style="width: 50px; height: auto" />
                </td>
                <td>
                    @{
                        ApplicationDbContext context = new ApplicationDbContext();
                        var book = context.tbTacGia.FirstOrDefault(b => b.Id == @item.Id);
                    }
                    @book.TenTacGia.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.moTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.theLoai.tenTheLoai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
